In [1]:
import os
os.listdir[]

SyntaxError: invalid syntax (<ipython-input-1-e73740fe3cc1>, line 2)

In [2]:
import os
os.listdir()

['.ipynb_checkpoints',
 'supermarkers.csv',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [3]:
import pandas

In [4]:
df1=pandas.read_csv("supermarkets.csv")
df1

FileNotFoundError: [Errno 2] File supermarkets.csv does not exist: 'supermarkets.csv'

In [5]:
df1=read_csv("supermarkets.csv")
df1

NameError: name 'read_csv' is not defined

In [6]:
df1=pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df1=pandas.read_json("supermarkets.json")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

df2=pandas.read_xlsx("supermarkets.xlsx")
df2

In [8]:
df2=pandas.read_xlsx("supermarkets.xlsx")
df2

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [9]:
pip install xlrd

Collecting xlrdNote: you may need to restart the kernel to use updated packages.
  Downloading xlrd-1.2.0-py2.py3-none-any.whl (103 kB)
Installing collected packages: xlrd
Successfully installed xlrd-1.2.0

In [10]:
df2=pandas.read_xlsx("supermarkets.xlsx")
df2

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [11]:
df2=pandas.read_xlsx("supermarkets.xlsx")
df2

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [12]:
df2=pandas.read_xlrd("supermarkets.xlsx")
df2

AttributeError: module 'pandas' has no attribute 'read_xlrd'

In [13]:
df2=pandas.read_xlrd("supermarkets.xlrd")
df2

AttributeError: module 'pandas' has no attribute 'read_xlrd'

In [14]:
df2=pandas.read_excel("supermarkets.xlsx",sheet_name=0)
df2

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [15]:
os.listdir()

['.ipynb_checkpoints',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [16]:
df4=pandas.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [17]:
df4=pandas.read_csv("supermarkets-semi-colons.txt", separator=";")
df4

TypeError: parser_f() got an unexpected keyword argument 'separator'

In [18]:
df4=pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [19]:
pandas.read_csv?

In [20]:
df=pandas.read_json("supermarkets.json")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [21]:
df=pandas.read_csv("data.txt")
df

   1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
0  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
1  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
2  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
3  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
4  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [23]:
df=pandas.read_csv("data.txt", header=None)
df

   0                1              2                 3    4            5   6
0  1     3666 21st St  San Francisco          CA 94114  USA      Madeira   8
1  2   735 Dolores St  San Francisco          CA 94119  USA  Bready Shop  15
2  3      332 Hill St  San Francisco  California 94114  USA  Super River  25
3  4     3995 23rd St  San Francisco          CA 94114  USA   Ben's Shop  10
4  5  1056 Sanchez St  San Francisco        California  USA      Sanchez  12
5  6  551 Alvarado St  San Francisco          CA 94114  USA   Richvalley  20

In [28]:
df.columns = ["ID","Address","City","Zip","Country","Name","Emloyee"]

In [27]:
df

,ID,Address,City,Zip,Country,Name,Emloyeeee
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [29]:
df

,ID,Address,City,Zip,Country,Name,Emloyee
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [30]:
df.set_index("ID")

,Address,City,Zip,Country,Name,Emloyee
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [31]:
df

,ID,Address,City,Zip,Country,Name,Emloyee
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [32]:
df.set_index("ID")

,Address,City,Zip,Country,Name,Emloyee
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [33]:
dff = df.set_index("ID")

In [34]:
dff

,Address,City,Zip,Country,Name,Emloyee
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [1]:
df

NameError: name 'df' is not defined

In [2]:
import os

In [3]:
os.listdir[]

SyntaxError: invalid syntax (<ipython-input-3-f8ee6a8aa8f0>, line 1)

In [4]:
os.listdir()

['.ipynb_checkpoints',
 'data.txt',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [5]:
df=pandas.read_csv("supermarkets.csv")

NameError: name 'pandas' is not defined

In [6]:
import pandas

In [7]:
df=pandas.read_csv("supermarkets.csv")

In [8]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df.loc["735 Dolores St":"332 Hill St","Country":"Name"]

Empty DataFrame
Columns: [Country, Name]
Index: []

In [10]:
df.loc["1":"2","Country":"Name"]

  Country         Name
1     USA  Bready Shop
2     USA  Super River

In [11]:
df.iloc[1:3,1:3]

          Address           City
1  735 Dolores St  San Francisco
2     332 Hill St  San Francisco

In [12]:
df.iloc[:,1:3]

           Address           City
0     3666 21st St  San Francisco
1   735 Dolores St  San Francisco
2      332 Hill St  San Francisco
3     3995 23rd St  San Francisco
4  1056 Sanchez St  San Francisco
5  551 Alvarado St  San Francisco

In [13]:
df.drop["City",1]

TypeError: 'method' object is not subscriptable

In [14]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [15]:
df.drop("City",1)

   ID          Address             State Country         Name  Employees
0   1     3666 21st St          CA 94114     USA      Madeira          8
1   2   735 Dolores St          CA 94119     USA  Bready Shop         15
2   3      332 Hill St  California 94114     USA  Super River         25
3   4     3995 23rd St          CA 94114     USA   Ben's Shop         10
4   5  1056 Sanchez St        California     USA      Sanchez         12
5   6  551 Alvarado St          CA 94114     USA   Richvalley         20

In [16]:
df.drop("1",0)

KeyError: "['1'] not found in axis"

In [17]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [18]:
df.drop("332 Hill St",0)

KeyError: "['332 Hill St'] not found in axis"

In [20]:
df.drop(df.columns[0:3],1)

              State Country         Name  Employees
0          CA 94114     USA      Madeira          8
1          CA 94119     USA  Bready Shop         15
2  California 94114     USA  Super River         25
3          CA 94114     USA   Ben's Shop         10
4        California     USA      Sanchez         12
5          CA 94114     USA   Richvalley         20

In [21]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [22]:
df.columns

Index(['ID', 'Address', 'City', 'State', 'Country', 'Name', 'Employees'], dtype='object')

In [34]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [35]:
df["Continent"]=df.shape[0]*["North America"]

In [36]:
df

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [37]:
df.shape

(6, 8)

In [38]:
df.shape(3)

TypeError: 'tuple' object is not callable

In [1]:
df.shape[0]

NameError: name 'df' is not defined

In [2]:
df

NameError: name 'df' is not defined

In [3]:
import os

In [4]:
os.listdir()

['.ipynb_checkpoints',
 'data.txt',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Untitled.ipynb']

In [5]:
df=pandas.read_csv("supermarkets.csv")

NameError: name 'pandas' is not defined

In [6]:
import pandas

In [7]:
df=pandas.read_csv("supermarkets.csv")

In [8]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df["Continent"]=df.shape[0]*["North America"]

In [10]:
df

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,North America
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,North America
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,North America
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,North America
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,North America
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,North America

In [13]:
df["Continent"]=df["Country"]+","+" North America"

In [14]:
df

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA, North America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA, North America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA, North America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA, North America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA, North America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA, North America"

In [15]:
df_t=df.T

In [16]:
df_t

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Continent,"USA, North America","USA, North America","USA, North America","USA, North America","USA, North America","USA, North America"

In [22]:
df_t[6] = [7,"My Address","My City","My State","My Country","My Name",10,"My Continent"]
df_t

,0,1,2,3,4,5,My Address,6
ID,1,2,3,4,5,6,7,7
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,My Address,My Address
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,My City,My City
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,My State,My State
Country,USA,USA,USA,USA,USA,USA,My Country,My Country
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,My Name,My Name
Employees,8,15,25,10,12,20,10,10
Continent,"USA, North America","USA, North America","USA, North America","USA, North America","USA, North America","USA, North America",My Continent,My Continent

In [23]:
df=df_t.T

In [24]:
df

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA, North America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA, North America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA, North America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA, North America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA, North America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA, North America"
My Address,7,My Address,My City,My State,My Country,My Name,10,My Continent
6,7,My Address,My City,My State,My Country,My Name,10,My Continent

In [25]:
df.drop(["My Address"], inplace=True)

In [26]:
df

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA, North America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA, North America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA, North America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA, North America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA, North America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA, North America"
6,7,My Address,My City,My State,My Country,My Name,10,My Continent

In [27]:
df.drop([6], inplace=True)

In [28]:
df

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA, North America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA, North America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA, North America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA, North America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA, North America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA, North America"

In [29]:
import geopy
dir(geopy)

['ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [30]:
from geopy.geocoders import ArcGIS

In [31]:
nom=ArcGIS()

In [32]:
nom.geocode("3995 23rd St, San Francisco, CA 94114")

GeocoderTimedOut: Service timed out

In [33]:
nom.geocode("3995 23rd St, San Francisco, CA 94114")

Location(3995 23rd St, San Francisco, California, 94114, (37.752990821253434, -122.43170235858965, 0.0))

In [34]:
df

,ID,Address,City,State,Country,Name,Employees,Continent
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"USA, North America"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"USA, North America"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"USA, North America"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"USA, North America"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"USA, North America"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"USA, North America"

In [35]:
df=pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [36]:
df["Address"]=df["Address"]+", "+df["City"]+", "+df["State"]+", "+df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [40]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df

GeocoderTimedOut: Service timed out

In [38]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [41]:
df["Coordinates"]=df["Address"].apply(nom.geocode)

GeocoderTimedOut: Service timed out

In [ ]:
df

In [42]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [43]:
nom=ArcGIS()

In [44]:
nom.geocode("3995 23rd St, San Francisco, CA 94114")

GeocoderServiceError: The operation did not complete (read) (_ssl.c:1056)

In [45]:
nom.geocode("3995 23rd St, San Francisco, CA 94114")

Location(3995 23rd St, San Francisco, California, 94114, (37.752990821253434, -122.43170235858965, 0.0))

In [46]:
df["Address"]=df["Address"]+", "+df["City"]+", "+df["State"]+", "+df["Country"]

In [47]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA, Sa...",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA, ...",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, ...",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA, Sa...",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, US...",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA,...",San Francisco,CA 94114,USA,Richvalley,20

In [48]:
df["Coordinates"]=df["Address"].apply(nom.geocode)

GeocoderTimedOut: Service timed out

In [49]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA, Sa...",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA, ...",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, ...",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA, Sa...",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, US...",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA,...",San Francisco,CA 94114,USA,Richvalley,20

In [51]:
df["Coordinates"]=df["Address"].apply(nom.geocode)
df

GeocoderTimedOut: Service timed out